.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: center;
  animation: spinner-load 600ms linear infinite;
}

.text-muted {
  color: var(--color-text-muted);
}

.ptable-wrapper {
  overflow-y: hidden;
  overflow-x: auto;

  width: 100vw;
  margin-inline: 1.25rem;
}

.ptable {
  display: grid;
  grid-template-columns: repeat(18, minmax(24px, 1fr));
  gap: 1px;

  width: 100%;
  min-width: 1000px;

  transform: scale(100% / 1500px);
}

.table-entry {
  --main-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
  aspect-ratio: 1/1;

  background-color: transparent;
  border: 2px solid;
  border-color: var(--main-color);

  overflow: hidden;
  text-overflow: ellipsis;
  
  cursor: pointer;
  transition: background 120ms ease, border 150ms ease;
}

.table-entry[data-entry-type="element"]:hover, 
  .table-entry[data-entry-type="element"]:focus-visible
{
  background-color: var(--main-color);
  color: var(--text-color);
  z-index: 2;
}

.label-atomic-mass {
  --translate-x: 0.175rem;
  --translate-y: -0.175rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.label-atomic-number {
  --translate-x: 0.25rem;
  --translate-y: 0.25rem;
  position: absolute;
  left: 0;
  top: 0;
}

.label-atomic-mass, .label-atomic-number {
  font-size: 0.6rem;
  transform: translate(var(--translate-x), var(--translate-y));
}

.element-symbol {
  font-size: 1.25rem;
  font-weight: 800;
}

.entry-name {
  margin-top: -3px;
  font-size: 0.6rem;
}

.separator-range-label {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 3px;
  text-wrap: nowrap;
}

@media screen and (max-width: 1130px) {
  /* Shift the labels more towards the edges and make the text slightly smaller */
  .label-atomic-mass {
    font-size: 0.525rem;
  }

  .separator-range-label {
    font-size: 0.9rem;
  }

  .label-atomic-mass {
    --translate-x: 0.075rem;
    --translate-y: -0.075rem;
  }

  .label-atomic-number {
    --translate-x: 0.125rem;
    --translate-y: 0.125rem;
  }
}

@media screen and (max-width: 990px) {
  .label-atomic-mass {
    display: none;
  }

  .element-name {
    margin-top: 0;
  }

  .label-atomic-number {
    transform: translate(0.125rem, 0.125rem);
  }
}

@keyframes spinner-load {
  to {
    transform: rotate(360deg);
  }
}
