:root {
  font-family: "Raleway", var(--default-font-family);
}

html {
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, main {
  min-height: 100vh;
}

body {
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
}