:root {
  --font-family: "Inter", var(--default-font-family);
  --color-text-muted: #919191;
  --color-tooltip-bg: #181818;
  --color-br-separator: #2b2b2e;
  --color-input-background: #1e1e1e;
  --color-input-placeholder: #8a8b8a;
  --color-searchentry-hover: rgba(220, 220, 220, 0.05);
}

html {
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portal--tooltip {
  position: relative;
}

body, main {
  min-height: 100vh;
}

button, input, body, label {
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
}