
.tooltip {
  position: fixed;
  animation-duration: 150ms;
  animation-timing-function: cubic-bezier(.43,1.35,.57,.91);

  z-index: 999;
}

:root[data-theme="light"] .tooltip {
  box-shadow: 0 6px 8px -1px rgb(24 24 24 / 0.1), 0 2px 4px -2px rgb(24 24 24 / 0.1);
}

/* Tooltip chevron */
.tooltip::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 18px;
  background-color: var(--color-tooltip-bg);
  z-index: 999;
}


.tooltip[data-side="top"] {
  transform: translate(-50%, -100%);
  transform-origin: center bottom;

  animation-name: tooltip-slide-down;
}

.tooltip[data-side="top"]::before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.tooltip[data-side="bottom"] {
  transform: translateX(-50%);
  transform-origin: center top;
  animation-name: tooltip-slide-up;
}

.tooltip[data-side="bottom"]::before {
  left: 50%;
  top: 0;

  transform: translate(-50%, -100%);
  clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}

.tooltip[data-side="right"] {
  transform: translateY(-50%);

  transform-origin: left center;
  animation-name: tooltip-slide-left;
}

.tooltip[data-side="right"]::before {
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  clip-path: polygon(100% 0%, 0 50%, 100% 100%);
}

.tooltip[data-side="left"] {
  transform: translateY(-50%);

  transform-origin: right center;
  animation-name: tooltip-slide-right;
}

.tooltip[data-side="left"]::before {
  right: 0%;
  top: 50%;
  transform: translate(100%, -50%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}


@keyframes tooltip-slide-down {
  0% {
    translate: 0 -4px;
    opacity: 0;
  }
  
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes tooltip-slide-up {
  0% {
    translate: 0 4px;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes tooltip-slide-left {
  0% {
    translate: 4px 0;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    scale: 1;
  }
}


@keyframes tooltip-slide-right {
  0% { 
    translate: -4px 0;
    opacity: 0;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}